@model ERP_GMEDINA.Models.tbPersonas



                        <div class="form-group">
							@Html.LabelFor(model => model.per_Identidad, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Identidad, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Identidad, "", new { @class = "text-danger", @id = "errorper_Identidad" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_Nombres, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Nombres, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Nombres, "", new { @class = "text-danger", @id = "errorper_Nombres" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_Apellidos, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Apellidos, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Apellidos, "", new { @class = "text-danger", @id = "errorper_Apellidos" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_FechaNacimiento, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_FechaNacimiento, "", new { @class = "text-danger", @id = "errorper_FechaNacimiento" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_Sexo, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Sexo, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Sexo, "", new { @class = "text-danger", @id = "errorper_Sexo" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_Edad, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Edad, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Edad, "", new { @class = "text-danger", @id = "errorper_Edad" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.nac_Id, "nac_Id", htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
                                @*@Html.EditorFor(model => model.per_Edad, new { htmlAttributes = new { @class = "form-contro required valid" } })*@
							@Html.DropDownList("nac_Id", null, htmlAttributes: new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.nac_Id, "", new { @class = "text-danger", @id = "errornac_Id" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_Direccion, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Direccion, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Direccion, "", new { @class = "text-danger", @id = "errorper_Direccion" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_Telefono, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_Telefono, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_Telefono, "", new { @class = "text-danger", @id = "errorper_Telefono" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_CorreoElectronico, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_CorreoElectronico, "", new { @class = "text-danger", @id = "errorper_CorreoElectronico" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_EstadoCivil, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_EstadoCivil, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_EstadoCivil, "", new { @class = "text-danger", @id = "errorper_EstadoCivil" })
                            </div>
                        </div>
                        <div class="form-group">
							@Html.LabelFor(model => model.per_TipoSangre, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-8">
								@Html.EditorFor(model => model.per_TipoSangre, new { htmlAttributes = new { @class = "form-contro required valid" } })
								@Html.ValidationMessageFor(model => model.per_TipoSangre, "", new { @class = "text-danger", @id = "errorper_TipoSangre" })
                            </div>
                        </div>
					