@model ERP_GMEDINA.Models.tbFormaPago

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbFormaPago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fpa_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fpa_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fpa_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fpa_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fpa_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fpa_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fpa_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fpa_Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.usu_NombreUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
